pipeline/Data File Pipeline.json
{
	"name": "Data File Pipeline",
	"properties": {
		"description": "This pipeline is used to get multiple files from the azure storage container and attached them to the logic app.",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsIsFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filefullpath",
								"value": {
									"value": "@concat('/omofoye-data-container/data-sample/',item().name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-02.ukwest.logic.azure.com:443/workflows/60f5a8584c7349fab173bc7c7eb685c4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=GqT6iocwrAycRD_HIrqWRDyMSX_i4WJC8W3cUDpRJK0 ",
								"method": "POST",
								"body": {
									"value": "{\n    \"pipelinename\":\"@{pipeline().Pipeline}\",\n    \"filepath\":\"@{variables('filefullpath')}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"filefullpath": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-11T13:06:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}